{% extends 'base.html' %}
{% load static %}

{% block title %}Login{% endblock %}

{% block content %}
  <div class="container mt-3">
    <div class="col-md-6 offset-md-3">
      <div class="card">
        <div class="card-body">
          <h4>Login Page</h4>
          <hr>
          <form class="form-group" method="post">
            {% csrf_token %}
            {{ form }}
            <button class="btn btn-primary btn-block" type="submit">Login</button>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}