{% extends 'blog/base.html' %}

{% block content_title %}Post Update / Create View{% endblock%}

{% block inner_content %}
  <form class="form-group" method="post">
    {% csrf_token %}
    {{ form }}
    <button class="btn btn-primary" type="submit">OK</button>
    {% if post %}
      <a class="btn btn-secondary ml-2" href="{% url 'post_detail' post.id %}">Cancel</a>
    {% else %} 
      <a class="btn btn-secondary ml-2" href="{% url 'post_list' %}">Cancel</a>
    {% endif %}
  </form>
{% endblock inner_content %}