{% extends 'blog/base.html' %}
{% load static %}

{% block title %}
  Detail - {{ block.super }}
{% endblock %}

{% block content_title %}Post Detail View{% endblock%}

{% block inner_content %}
  <div class="row">
    <div class="col-md-8 blog-main">
      <h3 class="pb-4 mb-4 font-italic border-bottom">
        {% if post.author == user %}
        <a class="btn btn-outline-primary" href="{% url 'post_update' post.id %}">Edit</a>
        <a class="btn btn-outline-danger" href="{% url 'post_delete' post.id %}">Delete</a>
        {% endif %}
      </h3>
      <div class="blog-post">
        <h2 class="blog-post-title">{{ post.title }}</h2>
        <p class="blog-post-meta">{{ post.create_at }} by {{ post.author }}</p>
        <p>{{ post.body|linebreaks }}</p>
        <hr>
      </div><!-- /.blog-post -->

      
      <!-- Comment -->
      {% if is_user %}
      <form class="form-group font-italic" method="post">
        {% csrf_token %}
        {{ form }}
        <button class="btn btn-primary" type="submit">OK</button>
      </form>
      <hr>
      {% endif %}

      {% if comment_list %}
      <div id="commentListView">
        <ul class="list-group" id="commentList">
          {% for comment in comment_list %}
          <li class="list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
              <h5 class="mb-1 small">{{ comment.create_at }} by {{ comment.author }}</h5>
              {% if comment.author == user %}
                <a class="badge badge-light comment" href="{% url 'comment_delete' comment.id %}" onclick="return confirm('Are you sure you want to delete this?');">Delete</a>
              {% endif %}
            </div>
            <p class="mb-1">{{ comment }}</p>
          </li>
          {% endfor %}
        </ul>
        <button class="btn btn-info btn-block" id="moreBtn">more</button>
        <button class="btn btn-secondary btn-block mt-0" id="closeBtn">close</button>
      </div>
      {% endif %}


    </div><!-- /.blog-main -->

    <aside class="col-md-4 blog-sidebar">
      <div class="p-4 mb-3 bg-light rounded">
        <h4 class="font-italic">Why Django?</h4>
        <p class="mb-0">With <em>Django</em>, you can take Web applications from concept to launch in a matter of hours. Django takes care of much of the hassle of Web development, so you can focus on writing your app without needing to reinvent the wheel. It’s free and open source.</p>
      </div>

      <div class="p-4">
        <h4 class="font-italic">Some links</h4>
        <ol class="list-unstyled mb-0">
          <li><a href="#">link_1</a></li>
          <li><a href="#">link_2</a></li>
          <li><a href="#">link_3</a></li>
        </ol>
      </div>
    </aside><!-- /.blog-sidebar -->

  </div><!-- /.row -->
{% endblock inner_content %}

{% block extra_js %}
  <script type="text/javascript" src="{% static 'blog/js/comment.js' %}"></script>
{% endblock %}
