{% extends 'blog/base.html' %}

{% block title %}
  Home - {{ block.super }}
{% endblock %}

{% block content_title %}Post List View{% endblock%}

{% block inner_content %}
  <div class="row mb-2">
    {% for post in object_list %}
    <div class="col-md-6">
      <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-primary"></strong>
          <h3 class="mb-0">{{ post.title }}</h3>
          <div class="mb-1 text-muted">{{ post.create_at }} by {{ post.author }}</div>
          <p class="card-text mb-auto">{{ post.body|truncatechars:125 }}</p>
          <a href="{% url 'post_detail' post.id %}" class="stretched-link">Continue reading</a>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>

  <nav class="blog-pagination mt-3">
    <a class="btn btn-outline-primary" href="#">Older</a>
    <a class="btn btn-outline-secondary disabled" href="#" tabindex="-1" aria-disabled="true">Newer</a>
  </nav>
{% endblock inner_content %}